<form action="/bookings/">
  <h5>Search bookings's start date within the range</h5>
  <div class="input-group">
    <input
      class="form-control"
      type="date"
      name="startDate"
      placeholder="Search for bookings that starts after...."
      value="<%= startDate %>"
    />
  
    <button type="submit" class="btn-primary btn">Search</button>
  </div>

  
</form>
