<form action="/customers/">
  <h5>Search customers by booking times</h5>
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      name="times"
      placeholder="Search for customers that have bookings > .... times"
      value="<%= times %>"
    />
    <button type="submit" class="btn-primary btn">Search</button>
  </div>
</form>