<h2>Add a new Branch to fleet</h2>
<form action="/createBranch" method="POST">
  <div>
    <label class="form-label">
      Branch name:
      <input class="form-control" type="text" name="branchName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Address:
      <input class="form-control" type="text" name="address" />
    </label>
  </div>

  <div>
    <label class="form-label">
      City:
      <input class="form-control" type="text" name="city" />
    </label>
  </div>

  <div>
    <label class="form-label">
      State:
      <input class="form-control" type="text" name="state" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Country:
      <input class="form-control" type="text" name="country" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Branch manager:
      <input class="form-control" type="text" name="branchManager" />
    </label>
  </div>


  <br/>
  <button class="btn btn-primary" type="submit">Create</button>
</form>